*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
}



.container{
    width: 100%;
}

nav{
    width: 100vw;
    top: 0;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}




@media screen and (max-width: 576px) {

    
}